<!DOCTYPE html>
<html>
  <head>
    <title>Erro</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Erro</h1>
    <p><%= message %></p>
    <p><%= error.status %></p>
    <pre><%= error.stack %></pre>
    <a href="/">Voltar para a página inicial</a>
  </body>
</html>
